.Card {
  background-color: rgb(31, 50, 83);
  color: white;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-card .ant-card-head-title {
  color: white;
}

.anticon {
  color: purple;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-card .ant-card-meta-description {
  color: white
}